/* styles.css */
body {
    font-family:  'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

.A{
    background-color: aquamarine;
    font-size: 20px;
    margin: 0; 
}