
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.introducao{

}

.trator{
    width: 100%;
}

/* tablets e computadores */
@media screen and (min-width: 1024px){
    .trator{
        width: 50%;
    }
}